<div class="" style="margin-top:90px">
  <div class="container custom_container">
    <div class="row">
      <div class="col-sm-3 vertical_nav">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">

            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li ><%= link_to "Profile", '/admins', method: :get%></li>
                <li ><%= link_to "Manage courses", '/admins/manage_courses'%></li>
                <li><%= link_to "Manage instructors", '/admins/manage_instructors'%></li>
                <!-- <li><a href="#">Reviews <span class="badge">1,118</span></a></li> -->
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <div class="col-sm-9 board">
        <h2>Edit old_course_name </h2>
        <%= form_for @course, :url => update_course_course_path(@course.id), :method => :put do |f| %>

          <div class="field">
            <%= f.label :coursename %>
            <%= f.text_field :coursename, value:@course.coursename ,class:"form-control" %>
          </div>
          <div class="field">
            <%= f.label :instructor %>
            <%= f.text_field :instructor, value: @course.instructor ,class:"form-control"%>
          </div>
          <div class="actions">
            <%= f.button :class=>"btn btn-primary button"%>
          </div>
        
      <% end %>

      </div>
    </div>

  </div>
</div>
