<div class="" style="margin-top:90px">
  <div class="container custom_container">
    <div class="row">
      <div class="col-sm-3 vertical_nav">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">

            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li ><%= link_to "Profile", '/admins', method: :get%></li>
                <li><%= link_to "Manage courses", '/admins/manage_courses'%></li>
                <li><%= link_to "Manage instructors", '/admins/manage_instructors'%></li>
                <!-- <li><a href="#">Reviews <span class="badge">1,118</span></a></li> -->
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <div class="col-sm-9 board">
        <h2>Edit instructor_name profile</h2>
        <div class="border">
            <%= form_for @teacher, :url => update_teacher_teacher_path(@teacher.id), :method => :put do |f| %>

              <div class="field">
                <%= f.label :firstname %>
                <%= f.text_field :firstname, value:@teacher.firstname ,class:"form-control" %>
              </div>
              <div class="field">
                <%= f.label :lastname %>
                <%= f.text_field :lastname, value: @teacher.lastname ,class:"form-control"%>
              </div>
              <div class="field">
                <%= f.label :teacher_id %>
                <%= f.text_field :teacher_id, value: @teacher.teacher_id ,class:"form-control"%>
              </div>
              <div class="actions">
                <%= f.button :class=>"btn btn-primary button"%>
              </div>
          <% end %>

      </div>

      </div>
    </div>

  </div>
</div>
