<div class="admin_courses">
  <div class="container custom_container">
    <div class="row">
      <div class="col-sm-3 vertical_nav">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">

            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to "Profile", admin_path, method: :get%></li>
                <li class="active"><%= link_to "Manage courses", admin_manage_courses_path%></li>
                <li><%= link_to "Manage instructors", admin_manage_instructors_path%></li>
                <!-- <li><a href="#">Reviews <span class="badge">1,118</span></a></li> -->
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <div class="col-sm-9 board">
        <h4>Opened classes: <%= @extra_courses.length %> class(es)</h4>

        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Instructor</th>
                <th>Seats Number</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
          <% @extra_courses.each do |course| %>

          <tr>
              <td><%= course.coursename%></td>
              <td><%= course.instructor%></td>
              <td><%= course.students.count%></td>
              <td><%= button_to "course details", course, method: :get,class: "btn btn-info"%></td>
              <td><%= button_to "delete", course, method: :delete,
                                     data: { confirm: "You sure?" },class: "btn btn-danger"%></td>
          </tr>
          <% end %>

        </table>

  </div>
</div>

</div>
</div>
