<div class="container">
  	<div id="login-box" class="centered">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  		<div class="logo">
  			<img src="/assets/cat.jpg" class="img img-responsive img-circle center-block"/>
  			<h1 class="logo-caption">CS <span class="tweak">L</span>ogin</h1>
        <h1 class="logo-caption">Admin's site</h1>
  		</div><!-- /.logo -->
  		<div class="controls">

          <div class="field">
            <%= f.email_field :email, autofocus: true,class: "form-control", :value => "Email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off",class: "form-control",:value => "Password" %>
          </div>
          <br>
          <div class="actions">
            <%= f.button "Log in",class: "btn btn-default btn-block btn-custom"%>
          </div>
        <div id="regis">
    			  Don't have an account?
    			  <%= link_to "Register", new_admin_registration_path, :method => :get %>
    		</div>
        <div id="regis">
            Are you Students?
             <%= link_to "Student's site", new_student_session_path, :method => :get %>
  			</div>
        <div id="regis">
  			    Are you Teacher?
  			    <%= link_to "Teachers' site", new_teacher_session_path, :method => :get %>
        </div>
  		</div><!-- /.controls -->
      <% end %>
  	</div><!-- /#login-box -->

</div><!-- /.container -->
<div id="particles-js"></div>
