<div class="row">
    <%= form_for(@course) do |f| %>
    <div class="field">
      <%= f.label :coursename %><br />
      <%= f.text_field :coursename %>
    </div>
    <div class="field">
      <%= f.label :instructor %><br />
      <%= f.text_field :instructor %>
    </div>
    <%= f.submit "create", class: "btn btn-primary" %>
    <% end %>
</div>
