<%= @course.coursename %>
<%= @course.instructor %>
<% if student_signed_in? %>
  <%= link_to "Reserved the seat", add_student_course_path(@course), :method => :put %>
<% end %>
<div class="col-md-8">
    <% if @course.students.any? %>
      <h3>Courses (<%= @course.students.count %>)</h3>
      <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <% @course.students.each do |student| %>
            <tr>
              <td><%= student.firstname%></td>
              <td><%= student.email%></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
</div>
