<div class="modal-content" style="margin-top: 90px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">More About this class</h4>
        </div>
    <div class="modal-body">
        <center>
        <h3 class="media-heading"><%= @course.coursename %> <small>By <%= @course.instructor %></small></h3>
        </center>
        <hr>
        <center>
        <p class="text-left"><strong>Enrolled Students: <%= @course.students.count %> people</strong><br>
          <div class="container">
            <div class="row col-md-6 col-md-offset-2 custyle" style="margin-left:300px;">
            <table class="table table-striped custab">
            <thead>
            <% if student_signed_in? %>
                <% if current_student.courses.exists?(@course)%>
                   <%= link_to "Drop", delete_student_course_path(@course), :method => :put ,class:"btn btn-danger btn-xs pull-right"%>
                <% else %>
                  <%= link_to "Join", add_student_course_path(@course), :method => :put ,class:"btn btn-success btn-xs pull-right"%>
                <% end %>
            <% end %>
            <!-- <a href="#" class="btn btn-danger btn-xs pull-right" style="margin-right:10px;"><b>-</b>Retreat</a> -->
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
              <tr>
                <% @course.students.each do |student| %>
                <tr>
                  <td><%= student.student_id%></td>
                  <td><%= student.firstname%> <%= student.lastname%></td>
                  <td><%= student.email%></td>
                  <td>

                  </td>
                </tr>
                <% end %>
              </tr>

            </table>
            </div>
          </div>
        <br>
        </center>
    </div>
    <div class="modal-footer">
        <center>
        <a href="index.html"><button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about this class</button></a>
        </center>
    </div>
  </div>
