<div class="modal-content" style="margin-top: 90px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">More About this class</h4>
        </div>
    <div class="modal-body">
        <center>
        <h3 class="media-heading"><%= @course.coursename %> <small>By <%= @course.instructor %></small></h3>
        </center>
        <hr>
        <center>
        <p class="text-left"><strong>Enrolled Students: <%= @course.students.count %> people</strong><br>
          <div class="container">
            <div class="row col-md-6 col-md-offset-2 custyle" style="margin-left:300px;">
            <table class="table table-striped custab">
            <thead>
            <% if student_signed_in? %>
                <% if current_student.courses.exists?(@course)%>
                   <%= link_to "Drop", delete_student_course_path(@course), :method => :put ,class:"btn btn-danger btn-xs pull-right"%>
                <% else %>
                  <%= link_to "Join", add_student_course_path(@course), :method => :put ,class:"btn btn-success btn-xs pull-right"%>
                <% end %>
            <% end %>
            <!-- <a href="#" class="btn btn-danger btn-xs pull-right" style="margin-right:10px;"><b>-</b>Retreat</a> -->
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
              <tr>
                <% @course.students.each do |student| %>
                <tr>
                  <td><%= student.student_id%></td>
                  <td><%= student.firstname%> <%= student.lastname%></td>
                  <td><%= student.email%></td>
                  <td>

                  </td>
                </tr>
                <% end %>
              </tr>

            </table>
            </div>
          </div>
        <br>

        </center>
        <div class="modal-footer">
            <center>
            <a href="index.html"><button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about this class</button></a>
            </center>
        </div>
        <div class="add_comment_all " style="margin-top:50px; margin-left:30%;">

          <div class="box1">

            <div class="topic3">
               <span class="glyphicon glyphicon-pencil inline" aria-hidden="true" style="margin-right:10px;"></span>
              <h4 class="inline">Add Comment</h4>
            </div>
            <%= form_for @comment, :url => add_comment_course_path(@course.id), :method => :put do |f| %>
              <div class="form-group">
                <%= f.label :content %>
                <%= f.text_area :content,class:"form-control",rows:"5" %>
              </div>
              <div class="actions">
                <%= f.button :class=>"btn btn-success btn13"%>
              </div>
            <% end %>
          </div>

        </div>

        <% @comments.each do |comment| %>
        <div class="comment_all" style="margin-top:50px; margin-left:30%">

          <div class="comment_section">
            <div class="topic5">
                <span class="glyphicon glyphicon-user inline" style="margin-right:10px;"aria-hidden="true"></span>
                <h4 class="inline">Comment</h4>
                <h5 class="" style="margin-left:12px;"> By <%= comment.email%></h5>
            </div>

            <div class="comment_content">
                <%= comment.content%>
            </div>

          </div>

        </div>


        <% end %>

    </div>

  </div>
