<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" style="color: white;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand " href="#" style="font-family: 'Montserrat', sans-serif; font-size: 20px; color: white; ">CS WHITEBOARD</a>
    </div>
    <div id="navbar" class="font-custom">
      <ul class="nav navbar-nav navbar-right" style="font-family: 'Montserrat', sans-serif; font-size: 13px; ">
        <li><a href="/">Courses</a></li>
        <% if student_signed_in? %>
          <li><%= link_to "Profile", current_student %></li>
          <li><%= link_to "Sign Out", destroy_student_session_path, :method => :delete %></li>
        <% elsif teacher_signed_in? %>
          <li><%= link_to "Profile", current_teacher %></li>
          <li><%= link_to "Sign Out", destroy_teacher_session_path, :method => :delete %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to "Dashboard", '/admins', :method => :get  %></li>
          <li><%= link_to "Sign Out", destroy_admin_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "SignIn", new_student_session_path, :method => :get %></li>
          <!-- <li><%= link_to "SignUp", new_student_registration_path, :method => :get %></li> -->
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
