<div class="container">
  	<div id="login-box" class="centered">
  		<div class="logo">
  			<img src="/assets/cat.jpg" class="img img-responsive img-circle center-block"/>
  			<h1 class="logo-caption">CS <span class="tweak">R</span>egister</h1>
        <h1 class="logo-caption">Student's site</h1>
  		</div><!-- /.logo -->
  		<div class="controls">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <span style="color:white;"><%= f.label :email %></span><br />
            <%= f.email_field :email, autofocus: true,class:"form-control" %>
          </div>

          <div class="field">
            <span style="color:white;"><%= f.label :password %></span>
            <% if @minimum_password_length %>
            <em><span style="color:white;">(<%= @minimum_password_length %> characters minimum)</span></em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off",class:"form-control" %>
          </div>

          <div class="field">
            <span style="color:white;"><%= f.label :password_confirmation %></span>
            <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control" %>
          </div>

          <div class="field">
            <span style="color:white;"><%= f.label :firstname %></span><br />
            <%= f.text_field :firstname ,class:"form-control"%>
          </div>
          <div class="field">
            <span style="color:white;"><%= f.label :lastname %></span><br />
            <%= f.text_field :lastname ,class:"form-control"%>
          </div>
          <div class="field">
            <span style="color:white;"><%= f.label :studentid %></span><br />
            <%= f.text_field :student_id ,class:"form-control"%>
          </div>

          <div class="actions">
            <%= f.button "Sign up",class: "btn btn-default btn-block btn-custom" %>
          </div>
        <% end %>
        <br>
        <%= button_to "Back to Login", new_student_session_path, :method => :get,class:"btn btn-default btn-block-custom btn-custom" %>


  		</div><!-- /.controls -->
  	</div><!-- /#login-box -->
  </div><!-- /.container -->
  <div id="particles-js"></div>
